* {
    box-sizing: border-box;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

#body-color{
    background-color: #d3ffe6;
}

#header{
    padding: 0;
}

#logo-header{
    width: 50%;
    height: 50%;
}

#header-img{
    margin-left: 25%;
    padding: 0;
}

.img-k{
    width: 90%;
    height: 90%;
}
.img-colab{
    margin-bottom: 1%;
}

#conf-text{
    margin-left: 25%;
}
#footer-text{
    margin-left: 25%;
}

#google-form{
    overflow-y: hidden;
}

#maps{
    padding: 10%;
    padding-left: 30%;
}